.input__due__date__container{
    border-left: 1px solid #d4d3d3;
    padding-bottom: 10px;
    .label__container{
        padding-bottom: 10px;
    }
}
.input__due__date__container:hover{
    background-color: #d4d3d3;
}