//scss for heading for app heading
.app__name{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
    margin-top: 10px;
    color: #808080;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.1rem;
    border-bottom: 1px solid #d4d3d3;
}